@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  vertical-align: bottom;
  max-width: 100%;
}

main {
  padding: 100px 0;
}

header {
  padding: 30px 0;
  background-color: #2fab82;
  text-align: center;
  color: #fff;
}
header > h1 {
  text-align: center;
  margin-bottom: 10px;
}

/* 共通 */
.wrapper {
  width: min(94%, 960px);
  margin: 0 auto;
}

/* contents 基本 */
.contents {
margin-bottom: 50px;
}
.content-ttl {
  font-size: 30px;
  margin-bottom: 20px;
  background-color: #f9dca6;
  padding: 10px 20px;
}
.content-txt {
  line-height: 1.8;
  margin-bottom: 30px;
}
footer {
  background-color: #2f67ab;
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

.contents {
  padding: 20px;
  border: 2px solid #ddd;
}